<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPLOAD DOCUMENT</title>
</head>
<body>
    <form class="upload" action="/uploads" method="post" enctype="multipart/form-data">
        <label for="upload">UPLOAD YOUR FILE/DOE:</label>
        <input type="file" name="filename" />
        <button>UPLOAD</button>
      </form>  
</body>
</html>